[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NEXT_PUBLIC_SUPABASE_URL = "https://mbipxghsdvksmelxutzo.supabase.co"

[context.deploy-preview.environment]
  NEXT_PUBLIC_SUPABASE_URL = "https://mbipxghsdvksmelxutzo.supabase.co"
